<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 style="color: red; font-weight: bold;">Your Cart is empty, you have to put products you want in your cart and then open the order page to confirm your order</h3>
    <a href="/" style="font-weight: bold; font-size: 30px; color:brown ;">Back</a>
</body>
</html>